
.row {
    display: flex;
    justify-content: space-between;
    margin: 1%;
}

.col, .col-2, .col-3 {
    background-color: aqua;
    margin: 1%;
    padding: 1%;
    flex: 1;
}

.col-2 {
    flex: 2;
}

.col-3 {
    flex: 3;
}

